body {
  background-color: #131a2c;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #1e293b; /* Darker background */
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #2d9f89; /* Blue color */
  border-radius: 10px;
  background-clip: content-box; /* To add padding */
}

/* Add this CSS to your global stylesheet */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
